.todo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

@media (max-width: 768px) {
    .todo-container {
        flex-direction: column;
        gap: 20px;
    }
}

.todo-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}