body{
    background-color: #170100;
    color: #ffff;
}
h1, h2{
    text-transform: uppercase;
    text-align: center;
}
.content{
    display: flex;
    width: 100%;
}
h2{
    text-transform: uppercase;
}
.form{
    width: 100%;
    margin: 2%;
    border-radius: 10px;
}
.list{
    width: 100%;
    margin: 2%;
    border-radius: 10px;
}
.formtotal{
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.formtotal input, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #9d6062;
    color: white;
    border: none;
    height: 60px;
    border-radius: 5px;
}

.formtotal .desc{
    height: 100px;
    resize: none;
}

.formtotal input:focus, textarea:focus{
    background-color: #3f0d13;
}

.formtotal button{
    background-color: #170100;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid white;
    margin: 10px;
}
.formtotal button:hover{
    font-weight: bold;
}


::placeholder{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.task{
    display: flex;
    justify-content: space-between;
}
.tasks{
    padding: 7.5%;
    padding-top: 5%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
}
.tasks .obj{
    background-color: #9d6062;
    padding-left: 5.5%;
    padding-right: 5.5%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100%;
}
.title{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.description{
    font-size: 20x;
    font-weight: lighter;
}
.tasks button{  
    background-color: #3f0d13;
    border: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5%;
    cursor: pointer;
    border-radius: 5px;
}
.tasks button:hover{
    text-transform: uppercase;
}

@media (max-width:700px){
    .content{
        display: flex;
        flex-direction: column;
    }
}